html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@font-face {
  font-family: outrun;
  src: url("fonts/outrun.otf") format("opentype");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

h1 {
  font-size: 4.2358rem;
  line-height: 67.77282px;
  font-weight: 100;
}

h2 {
  font-size: 2.61792rem;
  line-height: 41.88678px;
  font-weight: 100;
}

h3 {
  font-size: 1.618rem;
  line-height: 25.888px;
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #D95A00;
}

section.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section .banner-content {
  width: 67%;
}

section .banner-title {
  margin-left: -0.38rem;
}

section .banner-nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}

section .banner-nav li {
  list-style-type: none;
  padding-right: 1.618rem;
  padding-top: 1.618rem;
  font-size: 1.3rem;
}

section .banner-nav li:nth-child(1) {
  animation: fadein;
  animation-duration: 3s;
}

section .banner-nav li:nth-child(3) {
  animation: fadein;
  animation-duration: 4s;
}

section .banner-nav li:nth-child(5) {
  animation: fadein;
  animation-duration: 5s;
}

section.retro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #431155;
}

section.retro .retro-title {
  color: white;
  text-shadow: 3px 2px #f90ac8;
  font-family: 'outrun', cursive;
  transform: rotate(-15deg);
}

section.retro .retro-title span {
  font-size: 80px;
}

section.retro .retro-title--alt {
  font-family: "Press Start 2P", cursive;
  color: cyan;
}

.sun {
  background: yellow;
  background: -moz-linear-gradient(top, yellow 0%, darkorange 36%, #e3002d 67%, #fc2ff5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, yellow), color-stop(36%, darkorange), color-stop(67%, #e3002d), color-stop(100%, #fc2ff5));
  background: -webkit-linear-gradient(top, yellow 0%, darkorange 36%, #e3002d 67%, #fc2ff5 100%);
  background: -o-linear-gradient(top, yellow 0%, darkorange 36%, #e3002d 67%, #fc2ff5 100%);
  background: -ms-linear-gradient(top, yellow 0%, darkorange 36%, #e3002d 67%, #fc2ff5 100%);
  background: linear-gradient(to bottom, yellow 0%, darkorange 36%, #e3002d 67%, #fc2ff5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#fc2ff5', GradientType=0 );
  border-radius: 999px;
  height: 125px;
  width: 125px;
  margin-top: -75px;
  float: right;
}

@media only screen and (max-width: 512px) {
  h1 {
    font-size: 2.61792rem;
  }
}
 

 /*# sourceMappingURL= main.css.map */