@import '_reset';
@import '_functions';
@import '_typography';
@import '_animations';

$prime: #D95A00;
$prime-darkest: darken($prime, 39.9%);
$prime-lightest: lighten($prime, 60%);
$compliment: #008875;
$comp-lightest: lighten($compliment, 75%);

html {
  box-sizing: border-box;

  @media screen and (max-width: 610px) {
    font-size: 16px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  line-height: 1.618;
}

li {
  &:before {
    content: "\00BB \0020";
  }
}

.site {
  width: 100%;
  background: $prime;
  header {
    background: $prime;
    display: flex;
    justify-content: center;
    height: 100vh;

    section {
      &.profile {
        display: flex;
        flex-direction: column;
        .photo {
          display: flex;
          justify-content: center;
          padding: 1.618rem 0;
          .photo-frame {
            border: 4px solid $prime-darkest;
            margin: 1.618rem;

            &.diamond {
              overflow: hidden;
              transform: rotate(45deg);
              width: 200px;
              height: 200px;

              .image {
                width: 282px;
                height: 282px;
                transform: rotate(-45deg) translatex(5px) translateY(-64px); ;
                background-image: url("../img/me_282.jpg");
              }
            }
          }
        }
        .description {
          text-align: center;
          padding: 1.618rem 0;
          h1 {
            font-size: 1.618rem;
            text-transform: uppercase;
            letter-spacing: 0.618rem;
            margin-left: 10px;
          }
          h2 {
            font-size: 1.272rem;
          }
        }

        .links {
          display: flex;
          justify-content: space-evenly;
          font-size: 2.618rem;
          padding: 0.618rem 0;
          margin-bottom: 1.618rem;
          a {
            //color: $prime-darkest;
            //border: 4px solid $prime-darkest;
            color: #FF9A53;
            border: 4px solid #FF9A53;
            transform: rotate(45deg);
            font-size: 1.618rem;
            padding: 2px 6px;
            
            transition: all 0.3s ease;
            
            &:hover {
              box-shadow: inset 0 0 0 25px $prime-darkest;
              color: $comp-lightest;
            }
            
            i {
              line-height: inherit;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  main {  
    background-color: $comp-lightest;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2.618rem;
    h2 {
      color: $comp-lightest;
      font-size: 2.427rem;
      font-weight: 900;
      background: $prime-darkest;
      display: inline-block;
      padding: 0.618rem 1.618rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.618rem;      
    }

    section {
      padding: 1.618rem 0;
      
      &:first-of-type { 
        padding-top: 0;
      }
      
      h2 {
        margin-left: -1.618rem;
      }
      h4 {
        display: inline-block;
        color: $prime;
      }

      .date {
        color: $prime;
      }

      ul {
        list-style-position: inside;
        li {
          padding: 0.618rem;
        } 
      }

      &.skills {

        p {
          color: $prime-darkest;
          padding: 1rem;
        }

        .factoid {
          
          width: 50%;
          padding: 0.618rem;
          font-size: 14px;

          @media screen and (min-width: 445px) {
            font-size: 16px;  
            width: 50%;
          }

          @media screen and (min-width: 624px){
            width: 33%;
          }

        }

        ul {
          columns: 2;
          
          @media screen and (max-width: 610px) {
            columns: 1;
          }
        }
      }

      .content {
        margin: 1.618rem 2.618rem;
        text-align: left;

        header {
          margin-bottom: 1.618rem;
        }

        .group {
          margin: 1.618rem 0;
        }

        ul {
          li {
            @media screen and (max-width: 520px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  section {
    max-width: 960px;
  }

  footer {
    height: 25vh;
    background: $prime;
  }
}

.flex-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.factoid {
  
  text-align: center;

  h3 {
    color: $prime;
  }
}