@import '_reset';
@import '_functions';
@import '_typography';
@import '_animations';

$prime:#D95A00; 
$white: lighten($prime, 95%);
$black: darken($prime, 95%);
$modern: #5E2971;
$modern-light: lighten($modern, 95%);
$base-font-size: 16;
$base-font: 'Montserrat', sans-serif;
$ratio: 1.618;

html {
    background-color: $white;
    color: $black;
    font-family: $base-font;
    font-size: $base-font-size *1px;
    font-weight: 200;

}

h1 {
    $value: pow($ratio, 3);
    font-size: $value * 1rem;
    line-height: line-height($base-font-size, $value, 1px);
    font-weight: 100;
}

h2 {
    $value: pow($ratio, 2);
    font-size: $value * 1rem;
    line-height: line-height($base-font-size, $value, 1px);
    font-weight: 100;
}

h3 {
    $value: pow($ratio, 1);
    font-size: $value * 1rem;
    line-height: line-height($base-font-size, $value, 1px);
    font-weight: 100;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $prime;
    }
}

section {
    &.banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .banner-content {        
        width: 67%;  
    }

    .banner-title {
        margin-left: -0.38rem;
    }

    .banner-nav {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;

        li {
            list-style-type: none;    
            padding-right: $ratio * 1rem;
            padding-top: $ratio * 1rem;
            font-size: 1.3rem;

            &:nth-child(1) {
                animation: fadein;
                animation-duration: 3s
            }
            &:nth-child(3) {
                animation: fadein;
                animation-duration: 4s}
            &:nth-child(5) {
                animation: fadein;
                animation-duration: 5s}
        }
    }

    &.modern {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        background-color: #431155;

        .modern-title {
            color: $modern-light;
            
            font-family: 'outrun', cursive;
        }
    }
}