html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.618;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  line-height: 1.618;
}

li:before {
  content: "\00BB \0020";
}

.site {
  width: 100%;
  background: #D95A00;
}

.site header {
  background: #D95A00;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.site header section.profile {
  display: flex;
  flex-direction: column;
}

.site header section.profile .photo {
  display: flex;
  justify-content: center;
  padding: 1.618rem 0;
}

.site header section.profile .photo .photo-frame {
  border: 4px solid #0e0600;
  margin: 1.618rem;
}

.site header section.profile .photo .photo-frame.diamond {
  overflow: hidden;
  transform: rotate(45deg);
  width: 200px;
  height: 200px;
}

.site header section.profile .photo .photo-frame.diamond .image {
  width: 282px;
  height: 282px;
  transform: rotate(-45deg) translatex(5px) translateY(-64px);
  background-image: url("../img/me_282.jpg");
}

.site header section.profile .description {
  text-align: center;
  padding: 1.618rem 0;
}

.site header section.profile .description h1 {
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.618rem;
  margin-left: 10px;
}

.site header section.profile .description h2 {
  font-size: 1.272rem;
}

.site header section.profile .links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.618rem;
  padding: 0.618rem 0;
  margin-bottom: 1.618rem;
}

.site header section.profile .links a {
  color: #FF9A53;
  border: 4px solid #FF9A53;
  transform: rotate(45deg);
  font-size: 1.618rem;
  padding: 2px 7px;
  transition: all 0.3s ease;
}

.site header section.profile .links a:hover {
  box-shadow: inset 0 0 0 25px #0e0600;
  color: white;
}

.site header section.profile .links a i {
  line-height: inherit;
  transform: rotate(-45deg);
}

.site main {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2.618rem;
}

.site main h2 {
  color: white;
  font-size: 2.427rem;
  font-weight: 900;
  background: #0e0600;
  display: inline-block;
  padding: 0.618rem 1.618rem;
  text-transform: uppercase;
}

.site main h3 {
  font-size: 1.618rem;
}

.site main section {
  padding: 1.618rem 0;
}

.site main section:first-of-type {
  padding-top: 0;
}

.site main section h2 {
  margin-left: -1.618rem;
}

.site main section h4 {
  display: inline-block;
  color: #D95A00;
}

.site main section .date {
  color: #D95A00;
}

.site main section ul {
  list-style-position: inside;
}

.site main section ul li {
  padding: 0.618rem;
}

.site main section.skills p {
  color: #0e0600;
  padding: 1rem;
}

.site main section.skills ul {
  columns: 2;
}

.site main section .content {
  margin: 1.618rem 2.618rem;
  text-align: left;
}

.site main section .content header {
  margin-bottom: 1.618rem;
}

.site main section .content .group {
  margin: 1.618rem 0;
}

.site section {
  max-width: 960px;
}

.site footer {
  height: 25vh;
  background: #D95A00;
}
 

 /*# sourceMappingURL= main.css.map */